body {
  background: rgb(232, 204, 156);
  color: rgb(38, 9, 0);
  margin: 0 auto;
}

.container {
  margin: 2vh 6vw;
  padding: 2vh 2vw;
  border: 2px solid rgb(54, 23, 23);
}

.padding {
  height: 150px;
}

.header {
  padding-top: 10em;
  padding-bottom: 10em;
}

.footer {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.footnote {
  font-size: 10px;
  font-style: italic;
}

.align-bottom {
  vertical-align: bottom;
}

.two-column-list {
  column-count: 2;
}

.center-list > h4 {
  width: 50%;
}

.center-column {
  width: 50%;
  display: inline-block;
}

.column-left {
  width: 50%;
  float: left;
}

.column-right {
  width: 50%;
  float: right;
}

#card, #contact {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

#card {
  margin-top: 10em;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 84pt;
  font-family: 'Tangerine', sans-serif;
  color: rgb(115, 2, 2);
}

h2 {
  font-size: 16pt;
  font-variant: small-caps;
}

h2.title {
  font-size: 22pt;
}

h3 {
  font-size: 12pt;
  color: rgb(235, 128, 11);
  text-transform: uppercase;
}

h4 {
  font-size: 12pt;
  font-weight: bold;
}

a {
  color: rgb(116, 17, 3);
  text-decoration: none;
  font-size: 24pt;
}

a:hover {
  text-decoration: underline;
}

.container5 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
.container4 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
.container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
.container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
.container1 {
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
.col1 {
	float:left;
	width:16%;
	position:relative;
	left:82%;
	overflow:hidden;
}
.col2 {
	float:left;
	width:16%;
	position:relative;
	left:86%;
	overflow:hidden;
}
.col3 {
	float:left;
	width:16%;
	position:relative;
	left:90%;
	overflow:hidden;
}
.col4 {
	float:left;
	width:16%;
	position:relative;
	left:94%;
	overflow:hidden;
}
.col5 {
	float:left;
	width:16%;
	position:relative;
	left:98%;
	overflow:hidden;
}
