body {
  background: rgb(232, 204, 156);
  color: rgb(38, 9, 0);
  margin: 0 auto;
}

.container {
  margin: 2vh 6vw;
  padding: 2vh 2vw;
  border: 2px solid rgb(54, 23, 23);
}

.header {
}

.footer {
}

.footer > p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40pt;
  font-family: cursive;
  color: rgb(115, 2, 2);
}

h2 {
  font-size: 16pt;
  font-variant: small-caps;
}

h2.title {
  font-size: 22pt;
}

h3 {
  font-size: 12pt;
  color: rgb(235, 128, 11);
  text-transform: uppercase;
}

h4 {
  font-size: 12pt;
  font-weight: bold;
}

a {
  color: rgb(116, 17, 3);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
